.form-group {
    margin-bottom: 25px;
}
.form-control-feedback {
    position: absolute;
    color: red;
    font-size: 12px;
}
.form-control-danger {
    border-color: red;
}
.logo {
    width: 200px;
    display: inline-block;
    margin-bottom: 1rem;
}