.line-container {
    height: 200px;
    width: 100%;
    display: block;
  }
  
  .gauge-container {
    height: 300px;
    width: 100%;
    display: block;
  }
  
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 1px;
  }
  
  input[name="filterDates"] {
    width: 280px;
  }
  
  .input-wrapper {
    position: relative;
  }
  
  .icon-basic-calendar {
    position: absolute;
    right: 0;
    top: 7px;
    width: 25px;
    font-size: 20px;
    line-height: 14px;
  }
  
  .filtersFomr {
    .card-header {
      text-transform: none;
      align-items: baseline;
      justify-content: space-between;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    .card-body {
      padding-top: 0;
      padding-bottom: 0;
    }
    .row:not(:last-child) {
      border-bottom: 1px solid #ececec;
    }
    .card {
      margin-bottom: 0;
    }
  }
  
  .w-auto {
    width: auto;
  }
  
  .table-sm th {
    padding: 0.2rem 0.3rem;
  }
  
  .table-sm td {
    padding: 0 0.3rem;
  }
  
  .table th:first-child,
  .table td:first-child {
    padding-left: 1rem;
  }
  
  .dashboard-table {
    margin-bottom: 0;
    border-bottom: 1px solid #aaa;
    label {
      margin: 0;
    }
    td,
    th {
      vertical-align: middle;
    }
    td {
      line-height: 20px;
    }
    .no-border {
      td {
        border: 0;
      }
    }
    tr td table {
      margin-bottom: 5px;
    }
    .table.dashboard-table-3 {
      background: #b8e0f9;
      border-bottom: 1px solid #aaa;
      tr:nth-of-type(even) td {
        border: 0;
        padding-left: 0.3rem;
      }
    }
    .table.dashboard-table-2 {
      background: #f5f5f5;
      border-bottom: 1px solid #aaa;
      .toggler {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
      }
      .toggler .fa {
        left: 15px;
      }
    }
    .asic-status {
      width: 350px;
      white-space: normal;
      line-height: 16px;
    }
  }
  
  .star {
    visibility: hidden;
    font-size: 26px;
    cursor: pointer;
    position: relative;
  }
  
  .star:before {
    content: "\2606";
    visibility: visible;
    color: #304ffe;
    position: absolute;
    top: -2px;
    left: -3px;
    font-size: 26px;
  }
  
  .star:checked:before {
    content: "\2605";
    color: #304ffe;
  }
  
  .fa-area-chart {
    font-size: 17px;
  }
  
  .group-action-btn {
    width: 203px;
    cursor: pointer;
    border-color: #343a40;
    &:disabled {
      cursor: default;
    }
  }
  
  .group-action .dropdown-item {
    cursor: pointer;
  }
  
  .card.card-widget {
    padding: 5px 10px;
  }
  
  a.card.card-widget:hover {
    transition: all 0.3s;
    box-shadow: 0 1px 5px 2px #ccc;
  }
  
  .card-header {
    padding: 5px 10px;
  }
  
  .toggle-filter {
    width: 100px;
  }
  
  .table-wrap {
    padding: 0;
  }
  
  .table .toggler {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    width: 40px;
    padding-left: 20px;
    padding-right: 20px;
    &.open .fa {
      top: calc(50% + 1px);
      transform: rotateX(180deg);
    }
    .fa {
      position: absolute;
      top: calc(50% + 1px);
      left: 12px;
    }
  }
  
  .table th.toggler {
    &.open .fa {
      top: calc(50% - 10px);
    }
    .fa {
      top: calc(50% - 10px);
    }
  }
  
  .inner-section {
    display: none;
    &.show {
      display: table-row;
    }
  }
  
  .dashboard-table-2.inner-section {
    display: none;
    &.show {
      display: table;
    }
  }
  
  .alarm-modal-body {
    overflow-y: auto;
    max-height: 260px;
  }
  
  .pools {
    padding-left: 40px;
    li {
      display: flex;
    }
    li:not(:first-of-type) {
      display: none;
    }
    &.shown {
      li {
        display: flex;
      }
    }
  }
  
  .tr-pools {
    &:not(:first-of-type) {
      display: none;
    }
    &.shown {
      display: table-row;
    }
  }
  
  .warning-backlight {
    background: #fffea3;
  }
  
  .alarm-backlight {
    background: #fff0af;
  }
  
  .critical-backlight {
    background: #ffdfdf;
  }
  
  .checkbox {
    width: 54px;
  }
  
  .td-name {
    width: 20%;
    min-width: 300px;
  }
  
  .td-type {
    width: 10%;
    min-width: 50px;
  }
  
  .td-hashrate {
    width: 10%;
    min-width: 50px;
  }
  
  .td-clock {
    width: 10%;
    min-width: 50px;
  }
  
  .td-build {
    width: 10%;
    min-width: 50px;
  }
  
  .td-date {
    width: 10%;
    min-width: 50px;
  }
  
  .td-alarms {
    width: 10%;
    min-width: 50px;
  }
  
  td {
    white-space: nowrap;
  }
  
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  
  .area-chart-link {
    color: #000;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  
  .hovered-text {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  
  .hidden-text {
    display: inline-block;
    width: 0;
    opacity: 0;
  }
  
  .success-clipboard {
    position: fixed;
    top: 35px;
    right: 17px;
  }
  
  .dropdown-menu {
    padding: 0;
  }
  
  .dropdown-toggle::after {
    vertical-align: 0.1em;
  }
  
  .table thead th {
    border-bottom: 0;
  }
  
  .dashboard-table {
    .custom-control {
      min-height: 16px;
      top: 10px;
      cursor: pointer;
    }
    th .custom-control {
      top: 0px;
    }
    .custom-control-indicator {
      top: 2px;
    }
    th .custom-control-indicator {
      position: relative;
      top: 0;
    }
  }
  
  .dashboard-table-2 {
    .toggler {
      &.open .fa {
        top: calc(50% - 12px);
      }
      .fa {
        top: calc(50% - 10px);
      }
    }
  }
  
  .change-pool-form {
    label {
      margin-bottom: 0;
    }
  }
  
  .loader {
    width: 30px;
    height: 30px;
    border: 3px solid rgba(48, 79, 254, 0.25);
    border-top-color: #304ffe;
    border-radius: 50%;
    position: relative;
    -webkit-animation: loader-rotate 1s linear infinite;
    animation: loader-rotate 1s linear infinite;
    top: 50%;
    margin: auto;
  }
  
  @keyframes loader-rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .failed {
    display: inline-flex;
    align-items: center;
    color: red;
    i {
      font-size: 30px;
    }
  }
  
  .success {
    display: inline-flex;
    align-items: center;
    color: #28a745;
    i {
      font-size: 30px;
    }
  }
  
  .modal-minimize {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 30px;
    width: 50px;
    height: 50px;
    bottom: 10px;
    z-index: 99 !important;
    border-radius: 100%;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    .loader {
      border: 3px solid rgba(254, 254, 254, 0.25);
      border-top-color: #fff;
    }
    &.hide {
      display: none;
    }
    .fa-expand {
      color: #fff;
    }
  }
  
  .card-log {
    border: 1px solid #ddd;
  }
  
  .log-wrapper {
    max-height: 200px;
    overflow: auto;
  }
  
  .required-field {
    color: red;
  }
  