<!-- <p>
  table-three works!
</p> -->

<div class="table-responsive table-wrap" >
  <table class="table table-sm dashboard-table-3">
    <tbody>
      <tr>
        <td rowspan="2">
          ID
        </td>
        <td rowspan="2">
          ASIC Status
        </td>
        <td rowspan="2">
          ASIC#
        </td>
        <td colspan="4" class="text-center">
          HashRate, TH/s
        </td>
        <td rowspan="2">
          Version
        </td>
        <td rowspan="2">
          Alarms
        </td>
      </tr>
      <tr>
        <td>
          15MIN
        </td>
        <td>
          1H
        </td>
        <td>
          1D
        </td>
        <td>
          AVG
        </td>
      </tr>
      <ng-template ngFor let-item [ngForOf]="dataTableLevel3" let-i="index">
        <tr>
          <td rowspan="2">
            <label>
              <input class="star mr-2" type="checkbox" title="Add to favourites"> {{item.id}}
            </label>
          </td>
          <td rowspan="2" class="asic-status">
            {{item.status}}
          </td>
          <td>
            {{item.asic}}
          </td>
          <td>
            {{item.hashrateMin}}
          </td>
          <td>
            {{item.hashrateHour}}
          </td>
          <td>
            {{item.hashrateDay}}
          </td>
          <td>
            {{item.avg}}
          </td>
          <td>
            {{item.version}}
          </td>
          <td>
            {{item.alarms}}
          </td>
        </tr>
        <tr>
          <td>
            T: {{item.t}}
          </td>
          <td>
            U: {{item.u}}
          </td>
          <td colspan="2">
            {{item.i}}
          </td>
          <td colspan="2">
            FAN: {{item.fan}}
          </td>
          <td>
            P: {{item.p}}
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>