<div class="galery">
  <div class="galery-sort">
    <ul>
      <li>
        <span>Сортировать:</span>
      </li>
      <li>
        <a href="#">По цене</a>
      </li>
      <li class="galery-sort-active">
        <a href="#">По типу</a>
      </li>
      <li>
        <a href="#">По функционалу</a>
      </li>
    </ul>
  </div>
  <div class="arrow-container">
    <div class="arrow arrow-top arrow-active"></div>
    <div class="arrow arrow-bottom"></div>
  </div>
  <div class="galery-container clearfix">
    <div class="galery-item">
      <div class="circle">
        <i></i>
        <i></i>
        <i></i>
      </div>
      <a href="#"><img src="./assets/img/galery-1.png" alt="" width="240px"></a>
      <div class="price">
        <h3>Aviator</h3>
        <p>Интернет-магазин<br> с личным кабинетом</p>
        <a class="btn" href="#">10 000 p.</a>
      </div>
    </div>
    <div class="galery-item">
      <div class="circle">
        <i></i>
        <i></i>
        <i></i>
      </div>
      <a href="#"><img src="./assets/img/galery-2.png" alt="" width="240px"></a>
      <div class="price">
        <h3>Sunset</h3>
        <p>Интернет-магазин<br> с личным кабинетом</p>
        <a class="btn" href="#">10 000 p.</a>
      </div>
    </div>
    <div class="galery-item">
      <div class="circle">
        <i></i>
        <i></i>
        <i></i>
      </div>
      <a href="#"><img src="./assets/img/galery-3.png" alt="" width="240px"></a>
      <div class="price">
        <h3>Forte</h3>
        <p>Интернет-магазин<br> с личным кабинетом</p>
        <a class="btn" href="#">10 000 p.</a>
      </div>
    </div>
    <div class="galery-item">
      <div class="circle">
        <i></i>
        <i></i>
        <i></i>
      </div>
      <a href="#"><img src="./assets/img/galery-4.png" alt="" width="240px"></a>
      <div class="price">
        <h3>Marquee</h3>
        <p>Интернет-магазин<br> с личным кабинетом</p>
        <a class="btn" href="#">10 000 p.</a>
      </div>
    </div>
    <div class="galery-item">
      <div class="circle">
        <i></i>
        <i></i>
        <i></i>
      </div>
      <a href="#"><img src="./assets/img/galery-5.png" alt="" width="240px"></a>
      <div class="price">
        <h3>Avenue</h3>
        <p>Интернет-магазин<br> с личным кабинетом</p>
        <a class="btn" href="#">10 000 p.</a>
      </div>
    </div>
    <div class="galery-item">
      <div class="circle">
        <i></i>
        <i></i>
        <i></i>
      </div>
      <a href="#"><img src="./assets/img/galery-6.png" alt="" width="240px"></a>
      <div class="price">
        <h3>Dovetail</h3>
        <p>Интернет-магазин<br> с личным кабинетом</p>
        <a class="btn" href="#">10 000 p.</a>
      </div>
    </div>

    <div class="paginnator">
      <a href="#">Предыдущая</a>
      <a href="#" class="page-active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">Следующая</a>
    </div>
  </div>
</div>