<div class="galery">
  <div class="galery-sort">
    <ul>
      <li>
        <span>Сортировать:</span>
      </li>
      <li [ngClass]="{'galery-sort-active': flag === 'sort'}">
        <a href="javascript:void(0);" (click)="priceSort()">По цене</a>
      </li>
      <li [ngClass]="{'galery-sort-active': flag === 'type'}">
        <a href="javascript:void(0);" (click)="typeSort()">По типу</a>
      </li>
      <li [ngClass]="{'galery-sort-active': flag === 'func'}">
        <a href="javascript:void(0);" (click)="funcSort()">По функционалу</a>
      </li>
    </ul>
  </div>
  <div class="arrow-container">
    <div class="arrow arrow-top arrow-active"></div>
    <div class="arrow arrow-bottom"></div>
  </div>
  <div class="galery-container clearfix">

    <div class="galery-item" *ngFor="let item of links">
      <div class="circle">
        <i></i>
        <i></i>
        <i></i>
      </div>
      <a href="#"><img [src]="item.imgSrc" alt="" width="240px"></a>
      <div class="price">
        <h3>{{item.name}}</h3>
        <p>{{item.title}}</p>
        <p>Функционал {{item.func}}</p>
        <a class="btn" href="#">{{item.price}} грн</a>
      </div>
    </div>

    <div class="paginnator">
      <a href="#">Предыдущая</a>
      <a href="#" class="page-active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">Следующая</a>
    </div>
  </div>
</div>