.header {
  height: 30px;
  position: fixed;
}

.logo-wrap {
  display: block;
  width: 90px;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.header .header-block-nav .profile .name {
  margin-right: 0;
}

.header .header-block-nav>ul>li>a.logout {
  padding-right: 0;
}

.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}

.toggle-sidebar {
  padding-left: 10px;
  font-size: 22px;
}