<section class="content clearfix">
  <div class="column-left">
    <h1>Мы — маленькая, но гордая дизайн-студия из Аттилана.</h1>
    <p>Исповедуем принципы минимализма и чистоты. Ставим математический расчет выше креатива. Работаем не покладая рук, как роботы.</p>
    <h2>Выполняем заказы на разработку:</h2>
      <ul>
        <li>Веб-сайтов любой сложности</li>
        <li>Мобильных приложений для iOS и Android</li>
        <li>Слайдшоу и видео для корпоративных презентаций</li>
      </ul>
  </div>
  <div class="column-right">
    <img src="./assets/img/since-2004.png" alt="Nerds since 2004">
    <h2>Как мы работаем:</h2>
      <ul>
        <li>С самоотдачей 146%</li>
        <li>Соблюдая сроки на 100%</li>
        <li>По предоплате 50%</li>
      </ul>
  </div>
</section>