.column-left {
    width: 580px;
    display: inline-block;
    float: left; }
  
  h1 {
    font-size: 36px;
    line-height: 36px; }
  
  .column-left ul {
    list-style: none; }
  
  .column-left li {
    position: relative;
    padding: 10px 10px;
    background: white;
    color: #283136; }
  
  .column-left li:before {
    content: "";
    border-bottom: 2px solid red;
    display: block;
    position: relative;
    top: 10px;
    left: -30px;
    z-index: -1; }
  
  .column-right {
    float: right;
    display: inline-block;
    margin-top: 30px; }
  
  .column-right img {
    margin-bottom: 15px; }
  
  .column-right ul {
    list-style: none; }
  
  .column-right li {
    position: relative;
    padding: 10px 10px;
    background: white;
    color: #283136; }
  
  .column-right li:before {
    content: "";
    border-bottom: 2px solid red;
    display: block;
    position: relative;
    top: 10px;
    left: -30px;
    z-index: -1; }
  
  