<header class="main-header">
  <div class="container clearfix">
    <div class="logo">
      <a href="#" class="logo-img"><img src="./assets/img/logo.png" alt="logo"></a>
    </div>
    <nav class="main-navigation">
      <ul>
        <li>
          <a routerLink="/studia" routerLinkActive="active">Студия</a>
        </li>
        <li>
          <a routerLink="/clients" routerLinkActive="active">Клиенты</a>
        </li>
        <li>
          <a routerLink="/store" routerLinkActive="active">Магазин</a>
        </li>
        <li>
          <a routerLink="/contacts" routerLinkActive="active">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="basket">
      <a class="icon-basket" routerLink="/cart" routerLinkActive="active">Корзина</a>
    </div>
  </div>
  <div class="wellcome">
    <h1>Добро пожаловать в магазин готовых макетов</h1>
  </div>
</header>