@import "scss/mixins/material-palette";
@import "scss/mixins/skinning";
@import "scss/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "scss/theming";
@import "scss/custom-bootstrap";
@import "scss/core";
@import "~ng-pick-datetime/assets/style/picker.min.css";

.filter-type {
  .selected-list .c-btn {
    padding: 5px 10px !important;
    box-shadow: none !important;
  }
}

.custom-navbar .navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.custom-navbar {
  min-height: auto;
}

.main-footer {
  min-height: 30px;
}

.custom-navbar .navbar-nav .nav-link {
  line-height: normal;
}

.ng-sidebar__content .main-content > router-outlet + * {
  padding: 7px;
}

.card {
  margin-bottom: 7px;
}