.line-container {
  height: 200px;
  width: 100%;
  display: block;
}

.gauge-container {
  height: 300px;
  width: 100%;
  display: block;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 1px;
}

input[name="filterDates"] {
  width: 280px;
}

.input-wrapper {
  position: relative;
}

.icon-basic-calendar {
  position: absolute;
  right: 0;
  top: 7px;
  width: 25px;
  font-size: 20px;
  line-height: 14px;
}

.filtersFomr {
  .card-header {
    text-transform: none;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .card-body {
    padding-top: 0;
    padding-bottom: 0;
  }
  .row:not(:last-child) {
    border-bottom: 1px solid #ececec;
  }
  .card {
    margin-bottom: 0;
  }
}

.w-auto {
  width: auto;
}

.dashboard-table {
  // background: #fcfcfc;
  margin-bottom: 0;
  label {
    margin: 0;
  }
  td {
    vertical-align: middle;
  }
  // tr:nth-of-type(odd) {
  //   background-color: #eee;
  // }
  tr:nth-of-type(1),
  tr:nth-of-type(2) {
    background-color: #fff;
    td {
      vertical-align: bottom;
      font-weight: bold;
    }
  }
  tr:nth-of-type(2) {
    td {
      padding-top: 0;
      padding-bottom: 7px;
      border: 0;
    }
    td:first-child {
      padding-left: 0.3rem;
    }
  }
  tr:nth-of-type(1) {
    td {
      padding-bottom: 7px;
    }
    td:nth-child(5),
    td:nth-child(6),
    td:nth-child(1),
    td:nth-child(2) {
      padding-bottom: 0;
    }
  }
  tr td table {
    margin-bottom: 0;
    tr:nth-of-type(1),
    tr:nth-of-type(2) {
      background-color: transparent;
      td {
        vertical-align: bottom;
        font-weight: bold;
        padding-bottom: 0;
      }
    }
    tr:nth-of-type(odd) {
      background-color: transparent;
    }
  }
  .table.dashboard-table-3 {
    background: #b8e0f9;
    tr:nth-of-type(even) td {
      border: 0;
      padding-left: 0.3rem;
    }
  }
  .table.dashboard-table-2 {
    background: #f5f5f5;
  }
  .asic-status {
    width: 350px;
  }
}

.toggler {
  font-size: 20px;
  cursor: pointer;
}

.star {
  visibility: hidden;
  font-size: 30px;
  cursor: pointer;
  position: relative;
}

.star:before {
  content: "\2606";
  visibility: visible;
  color: #304ffe;
  position: absolute;
  top: -12px;
  left: -3px;
  font-size: 27px;
}

.star:checked:before {
  content: "\2605";
  color: #304ffe;
}

.fa-area-chart {
  font-size: 17px;
}

.group-action .d-inline-block.show {
  margin-bottom: 180px;
}

.group-action-btn {
  width: 211px;
}

.card.card-widget {
  padding: 5px 10px;
}

a.card.card-widget:hover {
  transition: all 0.3s;
  box-shadow: 0 1px 5px 2px #ccc;
}

.card-header {
  padding: 5px 10px;
}

.toggle-filter {
  width: 100px;
}

.table-wrap {
  padding: 0 10px 10px 0;
}