<div class="row justify-content-center">
  <div class="col-lg-8">


    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="card card-body card-widget">
          <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-server2">
          </div>
          <div class="block ml-3">
            <h5 class="mb-0 fw-400">
              4500
            </h5>
            <span class="text-muted text-uppercase ">
              <strong>Total</strong>
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="card card-body card-widget">
          <div class="widget-icon rounded-circle bg-green text-white icon icon-arrows-check">
          </div>
          <div class="block ml-3">
            <h5 class="mb-0 fw-400">
              4400
            </h5>
            <span class="text-muted text-uppercase ">
              <strong>Active</strong>
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="card card-body card-widget">
          <div class="widget-icon rounded-circle bg-teal text-white icon icon-basic-ban">
          </div>
          <div class="block ml-3">
            <h5 class="mb-0 fw-400">
              50
            </h5>
            <span class="text-muted text-uppercase ">
              <strong>Inactive</strong>
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <a role="button" class="card card-body card-widget" (click)="openAlarmModal(alarm)">
          <div class="widget-icon rounded-circle bg-red text-white">!
          </div>
          <div class="block ml-3">
            <h5 class="mb-0 fw-400">
              50
            </h5>
            <span class="text-muted text-uppercase ">
              <strong>Alarm</strong>
            </span>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Alarm messages
          </div>
        </div>
      </div>
      <div class="mb-1" *ngIf="!isLoaded">Loading...</div>
      <div class="mb-1" *ngIf="isLoaded">
        <ngx-charts-line-chart (legendlabelclick)="onLegendLabelClick($event)" (select)="select($event)" [curve]="curve" [gradient]="gradient"
          [legend]="showLegend" [results]="dateData" [roundDomains]="roundDomains" [scheme]="colorScheme" [schemeType]="schemeType"
          [showGridLines]="showGridLines" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [timeline]="timeline"
          [tooltipDisabled]="tooltipDisabled" [xAxis]="showXAxis" [xAxisLabel]="xAxisLabel" [yAxis]="showYAxis" [yAxisLabel]="yAxisLabel"
          class="line-container" [timeline]="timeline">
        </ngx-charts-line-chart>
      </div>
      <div class="table-responsive p-1">
        <table class="table table-bordered text-center mb-0 table-sm">
          <thead>
            <tr>
              <th>
                15 min
              </th>
              <th>
                1 hour
              </th>
              <th>
                24 hour
              </th>
              <th>
                Current
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                1 325
              </td>
              <td>
                4 500
              </td>
              <td>
                84 532
              </td>
              <td>
                15 532
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Average hashrate TH/s
          </div>
        </div>
      </div>
      <div class="mb-1" *ngIf="!isLoaded">Loading...</div>
      <div class="mb-1" *ngIf="isLoaded">
        <ngx-charts-line-chart (legendlabelclick)="onLegendLabelClick($event)" (select)="select($event)" [curve]="curve" [gradient]="gradient"
          [legend]="showLegend" [results]="dateData" [roundDomains]="roundDomains" [scheme]="colorScheme" [schemeType]="schemeType"
          [showGridLines]="showGridLines" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [timeline]="timeline"
          [tooltipDisabled]="tooltipDisabled" [xAxis]="showXAxis" [xAxisLabel]="xAxisLabel" [yAxis]="showYAxis" [yAxisLabel]="yAxisLabel"
          class="line-container">
        </ngx-charts-line-chart>
      </div>
      <div class="table-responsive p-1">
        <table class="table table-bordered text-center mb-0 table-sm">
          <thead>
            <tr>
              <th>
                15 min
              </th>
              <th>
                1 hour
              </th>
              <th>
                24 hour
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                1 325
              </td>
              <td>
                4 500
              </td>
              <td>
                84 532
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Alive
          </div>
        </div>
      </div>
      <div class="mb-1" *ngIf="!isLoaded">Loading...</div>
      <div class="mb-1" *ngIf="isLoaded">
        <ngx-charts-line-chart (legendlabelclick)="onLegendLabelClick($event)" (select)="select($event)" [curve]="curve" [gradient]="gradient"
          [legend]="showLegend" [results]="dateData" [roundDomains]="roundDomains" [scheme]="colorScheme" [schemeType]="schemeType"
          [showGridLines]="showGridLines" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [timeline]="timeline"
          [tooltipDisabled]="tooltipDisabled" [xAxis]="showXAxis" [xAxisLabel]="xAxisLabel" [yAxis]="showYAxis" [yAxisLabel]="yAxisLabel"
          class="line-container">
        </ngx-charts-line-chart>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <form class="card filtersFomr">
      <div class="card-header">
        <h5 class="mr-3">Filter</h5>
        <div>
          <label class="custom-control custom-radio">
            <input id="radio1" name="radio" type="radio" class="custom-control-input" checked>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">All</span>
          </label>
          <label class="custom-control custom-radio">
            <input id="radio2" name="radio" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Active</span>
          </label>
          <label class="custom-control custom-radio">
            <input id="radio3" name="radio" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Inactive</span>
          </label>
          <label class="custom-control custom-radio">
            <input id="radio4" name="radio" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Alarm</span>
          </label>
          <label class="custom-control custom-radio">
            <input id="radio5" name="radio" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Favourites</span>
          </label>
        </div>

        <div class="input-wrapper mr-3">
          <input [(ngModel)]="selectedMoments" [selectMode]="'range'" [owlDateTimeTrigger]="dtPicker3" [owlDateTime]="dtPicker3" name="filterDates"
            class="form-control d-inline-block">
          <span class="trigger" [owlDateTimeTrigger]="dtPicker3">
            <i class="icon icon-basic-calendar"></i>
          </span>
          <owl-date-time #dtPicker3></owl-date-time>
        </div>

        <button type="submit" class="btn btn-primary">Apply</button>

        <button type="button" class="btn btn-outline-dark toggle-filter mr-1" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
          <span *ngIf="!isCollapsed">
            <i class="fa fa-angle-down"></i> Expand</span>
          <span *ngIf="isCollapsed">
            <i class="fa fa-angle-up"></i> Collapse</span>
        </button>

      </div>
      <div class="card-body">

        <div id="collapseExample" [ngbCollapse]="!isCollapsed">
          <div class="card">

            <div class="row">
              <div class="col-md-4 d-flex flex-column pt-2 pb-2">
                <div class="mt-auto">
                  <input type="text" class="form-control d-inline-block w-auto" placeholder="Hostname">
                </div>
              </div>
              <div class="col-md-4 d-flex flex-column pt-2 pb-2">
                <h6>Type</h6>
                <div class="mt-auto">
                  <angular2-multiselect [data]="itemList" [(ngModel)]="selectedItems" [settings]="settings" name="multiselectType">
                  </angular2-multiselect>
                </div>
              </div>
              <div class="col-md-4 d-flex flex-column pt-2 pb-2">
                <h6>Clock</h6>
                <div class="mt-auto">
                  <label class="custom-control custom-radio">
                    <input id="clockRadio1" name="clockRadio" type="radio" class="custom-control-input" checked>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">&gt;=</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input id="clockRadio2" name="clockRadio" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">&lt;=</span>
                  </label>
                  <input type="text" class="form-control d-inline-block w-auto" placeholder="Clock value">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 d-flex flex-column pt-2 pb-2">
                <h6>Device</h6>
                <div class="mt-auto">
                  <input type="text" class="form-control d-inline-block w-auto" placeholder="ID">
                </div>
              </div>

              <div class="col-md-4 d-flex flex-column pt-2 pb-2">
                <h6>HashRate</h6>
                <div class="mt-auto">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" checked>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">15 min</span>
                  </label>
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">1 Hour</span>
                  </label>
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">AVG</span>
                  </label>
                </div>
              </div>

              <div class="col-md-4 d-flex flex-column pt-2 pb-2">
                <div class="mt-auto">
                  <label class="custom-control custom-radio">
                    <input id="hashrateRadio1" name="hashrateRadio" type="radio" class="custom-control-input" checked>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">&gt;=</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input id="hashrateRadio2" name="hashrateRadio" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">&lt;=</span>
                  </label>
                  <input type="text" class="form-control d-inline-block w-auto" placeholder="TH/s">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 d-flex flex-column pt-2 pb-2">
                <h6>Alarm</h6>
                <div class="mt-auto">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">U alarm</span>
                  </label>
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">I alarm</span>
                  </label>
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">T alarm</span>
                  </label>
                </div>
              </div>
              <div class="col-md-4 d-flex flex-column pt-2 pb-2">
                <h6>ASIC's</h6>
                <div class="mt-auto">
                  <label class="custom-control custom-radio">
                    <input id="asicRadio1" name="asicRadio" type="radio" class="custom-control-input" checked>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">&gt;=</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input id="asicRadio2" name="asicRadio" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">&lt;=</span>
                  </label>
                  <input type="text" class="form-control d-inline-block w-auto" placeholder="TH/s">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-outline-dark mb-2">Export CSV</button>
    <div class="card w-100">
      <div class="table-responsive">
        <table class="table table-sm dashboard-table">
          <tbody>
            <tr>
              <td rowspan="2" class="checkbox">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                </label>
              </td>
              <td rowspan="2" class="toggler">
                <i class="icon icon-arrows-down" aria-hidden="true"></i>
              </td>
              <td rowspan="2">
                HostName
              </td>
              <td rowspan="2">
                Type
              </td>
              <td colspan="4" class="text-center">
                HashRate, TH/s
              </td>
              <td>
                Clock,
              </td>
              <td rowspan="2">
                Build
              </td>
              <td rowspan="2">
                Uptime
              </td>
              <td rowspan="2">
                Alarms
              </td>
            </tr>

            <tr>
              <td>
                15MIN
              </td>
              <td>
                1H
              </td>
              <td>
                1D
              </td>
              <td>
                AVG
              </td>
              <td>
                GHz
              </td>
            </tr>
            <ng-template ngFor let-item [ngForOf]="dataTableDetails.level1" let-i="index">
            <tr>
              <td scope="row" class="checkbox">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                </label>
              </td>
              <td class="toggler" #btn2 (click)="toggleTable(btn2, innerRow2)">
                <i class="icon icon-arrows-down" aria-hidden="true"></i>
              </td>
              <td>
                <label>
                  <input class="star mr-2" type="checkbox" title="Add to favourites"> {{item.hostName}}
                </label>
                <i class="fa fa-area-chart ml-1"></i>
              </td>
              <td>
                {{item.type}}
              </td>
              <td>
                {{item.hashrateMin}}
              </td>
              <td>
                {{item.hashrateHour}}
              </td>
              <td>
                {{item.hashrateDay}}
              </td>
              <td>
                {{item.avg}}
              </td>
              <td>
                {{item.clock}}
              </td>
              <td>
                {{item.build}}
              </td>
              <td>
                {{item.uptime}}
              </td>
              <td>
                {{item.alarms}}
              </td>
            </tr>
      
            <tr>
              <td style="border: 0"></td>
              <td colspan="11" style="border: 0">
                <div class="table-responsive table-wrap">

                  <ul class="mb-0 pools" [ngClass]="{'shown': innerRow2.classList.contains('show')}">
                    <li>
                      <div class="mr-3">
                        <strong>Pool 1:</strong> {{item.pool1}}</div>
                      <div>
                        <strong>User 1:</strong> {{item.user1}}</div>
                    </li>
                    <li>
                      <div class="mr-3">
                        <strong>Pool 2:</strong> {{item.pool2}}</div>
                      <div>
                        <strong>User 2:</strong> {{item.user2}}</div>
                    </li>
                    <li class="mb-2">
                      <div class="mr-3">
                        <strong>Pool 3:</strong> {{item.pool3}}</div>
                      <div>
                        <strong>User 3:</strong> {{item.user3}}</div>
                    </li>
                  </ul>

                  <table class="table table-sm dashboard-table-2 table-secondary inner-section" #innerRow2>
                    <tbody class="">
                      <tr>
                        <td rowspan="2" class="toggler">

                        </td>
                        <td rowspan="2">
                          Name
                        </td>
                        <td rowspan="2">
                          Boards
                        </td>
                        <td colspan="4" class="text-center">
                          HashRate, TH/s
                        </td>

                        <td rowspan="2">
                          Version
                        </td>
                        <td rowspan="2">
                          Uptime
                        </td>
                        <td rowspan="2">
                          Alarms
                        </td>
                      </tr>

                      <tr>
                        <td>
                          15MIN
                        </td>
                        <td>
                          1H
                        </td>
                        <td>
                          1D
                        </td>
                        <td>
                          AVG
                        </td>
                      </tr>
                      <ng-template ngFor let-item [ngForOf]="dataTableDetails.level2" let-i="index">
                        <tr>
                          <td class="toggler" #btn (click)="toggleTable(btn, innerRow)">
                            <i class="icon icon-arrows-down" aria-hidden="true"></i>
                          </td>
                          <td>
                            {{item.name}}
                            <i class="fa fa-area-chart ml-1"></i>
                          </td>
                          <td>
                            {{item.boards}}
                          </td>
                          <td>
                            {{item.hashrateMin}}
                          </td>
                          <td>
                            {{item.hashrateHour}}
                          </td>
                          <td>
                            {{item.hashrateDay}}
                          </td>
                          <td>
                            {{item.avg}}
                          </td>
                          <td>
                            {{item.version}}
                          </td>
                          <td>
                            {{item.uptime}}
                          </td>
                          <td>
                            {{item.alarms}}
                          </td>
                        </tr>
                        
                        <tr class="inner-section" #innerRow>
                          <td style="border: 0"></td>
                          <td colspan="11" style="border: 0">
                            <div class="table-responsive table-wrap" >
                              <table class="table table-sm dashboard-table-3">
                                <tbody>
                                  <tr>
                                    <td rowspan="2">
                                      ID
                                    </td>
                                    <td rowspan="2">
                                      ASIC Status
                                    </td>
                                    <td rowspan="2">
                                      ASIC#
                                    </td>
                                    <td colspan="4" class="text-center">
                                      HashRate, TH/s
                                    </td>
                                    <td rowspan="2">
                                      Version
                                    </td>
                                    <td rowspan="2">
                                      Alarms
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      15MIN
                                    </td>
                                    <td>
                                      1H
                                    </td>
                                    <td>
                                      1D
                                    </td>
                                    <td>
                                      AVG
                                    </td>
                                  </tr>
                                  <ng-template ngFor let-item [ngForOf]="dataTableDetails.level3" let-i="index">
                                    <tr>
                                      <td rowspan="2">
                                        <label>
                                          <input class="star mr-2" type="checkbox" title="Add to favourites"> {{item.id}}
                                        </label>
                                      </td>
                                      <td rowspan="2" class="asic-status">
                                        {{item.status}}
                                      </td>
                                      <td>
                                        {{item.asic}}
                                      </td>
                                      <td>
                                        {{item.hashrateMin}}
                                      </td>
                                      <td>
                                        {{item.hashrateHour}}
                                      </td>
                                      <td>
                                        {{item.hashrateDay}}
                                      </td>
                                      <td>
                                        {{item.avg}}
                                      </td>
                                      <td>
                                        {{item.version}}
                                      </td>
                                      <td>
                                        {{item.alarms}}
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        T: {{item.t}}
                                      </td>
                                      <td>
                                        U: {{item.u}}
                                      </td>
                                      <td colspan="2">
                                        {{item.i}}
                                      </td>
                                      <td colspan="2">
                                        FAN: {{item.fan}}
                                      </td>
                                      <td>
                                        P: {{item.p}}
                                      </td>
                                    </tr>
                                  </ng-template>
                                </tbody>
                              </table>
                            </div>
                          </td>
                        </tr>
                      </ng-template>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>You have selected 25 items</p>
  </div>
</div>

<div class="row clearfix">
  <div class="col group-action">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-dark group-action-btn" ngbDropdownToggle>Group action</button>
      <div ngbDropdownMenu>
        <button class="dropdown-item">
          <i class="fa fa-gears mr-1"></i> Get log</button>
        <button class="dropdown-item">
          <i class="fa fa-gears mr-1"></i> Change pools</button>
        <button class="dropdown-item">
          <i class="fa fa-gears mr-1"></i> Change clock settings</button>
        <button class="dropdown-item">
          <i class="fa fa-gears mr-1"></i> Cgminer restart</button>
        <button class="dropdown-item">
          <i class="fa fa-gears mr-1"></i> Device reboot</button>
        <button class="dropdown-item">
          <i class="fa fa-gears mr-1"></i> Show charts</button>
      </div>
    </div>
  </div>
</div>


<!-- alert modal -->
<ng-template ngbModalContainer></ng-template>
<ng-template #alarm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title">Alarm (50 hosts)</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body alarm-modal-body">
    <div class="table-responsive">
      <table class="table table-bordered table-sm table-hover mb-0">
        <thead>
          <tr>
            <th>DeviceID</th>
            <th>Date / Time</th>
            <th>Alarm Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>23423</td>
            <td>12.12.2018 / 15:15:45</td>
            <td>Alarm Type 1</td>
          </tr>
          <tr>
            <td>23423</td>
            <td>12.12.2018 / 15:15:45</td>
            <td>Alarm Type 1</td>
          </tr>
          <tr>
            <td>23423</td>
            <td>12.12.2018 / 15:15:45</td>
            <td>Alarm Type 1</td>
          </tr>
          <tr>
            <td>23423</td>
            <td>12.12.2018 / 15:15:45</td>
            <td>Alarm Type 1</td>
          </tr>
          <tr>
            <td>23423</td>
            <td>12.12.2018 / 15:15:45</td>
            <td>Alarm Type 1</td>
          </tr>
          <tr>
            <td>23423</td>
            <td>12.12.2018 / 15:15:45</td>
            <td>Alarm Type 1</td>
          </tr>
          <tr>
            <td>23423</td>
            <td>12.12.2018 / 15:15:45</td>
            <td>Alarm Type 1</td>
          </tr>
          <tr>
            <td>23423</td>
            <td>12.12.2018 / 15:15:45</td>
            <td>Alarm Type 1</td>
          </tr>
          <tr>
            <td>23423</td>
            <td>12.12.2018 / 15:15:45</td>
            <td>Alarm Type 1</td>
          </tr>
          <tr>
            <td>23423</td>
            <td>12.12.2018 / 15:15:45</td>
            <td>Alarm Type 1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
