<div class="page-header">
    <h3>Range slider</h3>
</div>

<pre>&lt;nouislider [connect]=&quot;true&quot; [min]=&quot;0&quot; [max]=&quot;15&quot; [step]=&quot;1&quot; [(ngModel)]=&quot;someRange&quot; (ngModelChange)=&quot;onChange($event)&quot;&gt;&lt;/nouislider&gt;</pre>

<code>someRange: {{ someRange | json }}</code>

<nouislider [connect]="true" [min]="0" [max]="15" [step]="1" [(ngModel)]="someRange" (ngModelChange)="onChange($event)"></nouislider>

<input type="text" [(ngModel)]="someRange[0]" readonly> 

<div class="btn-group">
    <button type="button" class="btn btn-primary" (click)="changeSomeRange(0,-1)">-</button>
    <button type="button" class="btn btn-primary" (click)="changeSomeRange(0,1)">+</button>
  </div>
  
  <input type="text" [(ngModel)]="someRange[1]" readonly>

  <div class="btn-group">
    <button type="button" class="btn btn-primary" (click)="changeSomeRange(1,-1)">-</button>
    <button type="button" class="btn btn-primary" (click)="changeSomeRange(1,1)">+</button>
  </div>